.fondo{
    background: linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2);
    font-family: 'Poppins', sans-serif;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}


.h-full{
    height: 100vh;
}

.muro {
    border: 2px solid rgb(115, 43, 19);
    padding: 30px;
    
    background-color: rgb(255, 95, 42);
}

.camino {
    border: 2px solid gray;
    padding:  30px;
    
    background-color: aliceblue;
}

.raton{
    padding:  30px;
    
    border: 2px solid black;
    background: url('img/mouse-303588.png') top center;
    background-size:cover;
}

.queso{
    padding: 30px;
    border: 2px solid black;
    background: url('img/cheese_PNG25282.png') top center;
    background-size: cover;
}

.menu{
    margin: 6%;
    font-size: 30px;
    color: rgb(64, 64, 64);  
    text-shadow: 0.1em 0.1em 0.2em rgb(95, 95, 95);
}

.button a{
    text-decoration: none;
    color: rgb(59, 59, 59);
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: aliceblue;
    transition: .5s;
}

.button a:hover{
    background-color: rgb(176, 183, 189);
    transition: .5s;
    padding: 12px;
}


/* a {
    display: block;
    float: left;
} */

#lab{
    display: flex;
}

a{
    padding: 10px 15px;
}

/* #lab{
    display: block;
} */